[submodule "formulae/vim/bundle/nerdtree"]
	path = formulae/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "formulae/vim/bundle/vim-expand-region"]
	path = formulae/vim/bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
[submodule "formulae/vim/bundle/vim-coffee-script"]
  path = formulae/vim/bundle/vim-coffee-script
  url = https://github.com/kchmck/vim-coffee-script.git
[submodule "formulae/vim/bundle/ctrlp.vim"]
	path = formulae/vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "formulae/vim/bundle/vim-colors-solarized"]
	path = formulae/vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "formulae/zsh/zsh-autosuggestions"]
	path = formulae/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "formulae/zsh/zsh-syntax-highlighting"]
	path = formulae/zsh/zsh-syntax-highlighting
  url = https://github.com/zsh-users/zsh-syntax-highlightinga
[submodule "formulae/vim/bundle/vim-pug"]
	path = formulae/vim/bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug
